.Resizer {
  z-index: 0;
  opacity: 0.4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.Resizer.horizontal {
  width: 0.8rem;
  cursor: row-resize;
}

.Resizer.horizontal:hover {
  background: currentColor;
}

.Resizer.vertical {
  width: 0.8rem;
  cursor: col-resize;
}

.Resizer.vertical:hover {
  background: currentColor;
}

.Resizer.vertical::after {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  content: url("../../icons/circle.svg") url("../../icons/circle.svg")
    url("../../icons/circle.svg") url("../../icons/circle.svg");
  line-height: 0.4rem;
  font-size: 0.4rem;
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}
